<div class="container content-sm">
    <div class="row">
        <div class="col-md-6 md-margin-bottom-50">
            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" webkitAllowFullScreen mozallowfullscreen allowFullScreen
                        src="https://www.youtube.com/embed/22NVU6WqsMY"></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div class="headline-left margin-bottom-30">
                <h2 class="headline-brd">We Are My Study Notebook</h2>
                <p>
                    We intend to help higher education seeking students from decision making to living abroad. We
                    provide guidelines and reference tools for better preparation for standard tests, tips for admission
                    application, communication with professors, writing tips for convincing and powerful Statement of
                    Purpose (SOP) and resumes etc. Students can review their documents, join online session, download
                    sample documents, consult with experts and many more.
                </p>
                <a href="{% url 'about_us' %}" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read More</a>
            </div>

        </div><!--/end row-->
    </div>
</div>