{% extends "common/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container content-sm">
        <div class="row">
            <div class="col-md-4 ">
                <div class="margin-bottom-45">
                    <img class="img-responsive" src="{% static 'img/officework.jpg' %}" alt="">
                </div>
                <div class="margin-bottom-45">
                    <div class="service-block service-block-dark-blue">
                        <i class="icon-2x color-light icon-line icon-graduation"></i>

                        <h2 class="heading-md">
                            Which University to Apply for?
                        </h2>
                        <a href="http://www.msinus.com/content/gre-universities-486/" target="_blank">
                            List of Universities based on GRE score.
                        </a>
                    </div>
                </div>
                <div class="margin-bottom-45">
                    <div class="service-block service-block-dark-blue">
                        <i class="icon-2x color-light icon-line  icon-envelope-letter"></i>

                        <h2 class="heading-md">
                            Tips For Writing Email To Professor.
                        </h2>
                        <a href="http://gradschool.about.com/od/overviewtimetable/a/Should-You-Email-Professors-At-Potential-Graduate-Programs.htm"
                           target="_blank">
                            Should You Email Professors at Potential Grad Schools?
                        </a> <br>
                        <a href="http://redbus2us.com/4-tips-to-email-professors-for-graduate-school-admission-in-usa/"
                           target="_blank">
                            4 Tips to email Professors for Graduate School Admission in USA?
                        </a> <br>
                        <a href="https://www.quora.com/How-does-contacting-a-professor-before-applying-factor-into-graduate-admissions"
                           target="_blank">
                            How does contacting a professor before applying factor into graduate admissions?
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="headline-left margin-bottom-30">
                    <h2 class="headline-brd">Application</h2>

                    <p>
                        While applying to a graduate study program, students are overwhelmed with many questions. The
                        questions that most often baffle the potential students are how to select a university? How to
                        apply and what documents are needed for the purpose? Is it needed to contact a professor before
                        applying? etc. <br><br>

                    <h3>Selection of University:</h3>
                    Selection of University may be the simplest yet most baffling question that the students
                    have to deal with. There is no straightforward answer on how to select an
                    appropriate university. However, the most rational way of selecting universities
                    would be to choose the ones whose criteria for GPA, GRE score etc. are
                    corresponding to that of the applicant. In fact most universities put up the
                    average GRE score, GPA etc. of the students admitted the previous years. This
                    can be an indicator of which universities are appropriate for an applicant. There
                    are some other websites that can help in this regard too e.g.(
                    <a href="http://www.atozbulletin.com/2013/09/list-of-all-us-universities-based-on.html">
                        list-of-all-us-universities
                    </a>,&nbsp;
                    <a href="http://www.msinus.com/content/gre-universities-486/">
                        universities-based-on-gre-scores
                    </a> ).
                    It is to be noted that universities often accept students with lower GPA, GRE
                    score etc. if their application is strong with a persuasive statement of purpose
                    and good recommendation. <br>
                    Universities
                    with high acceptance rate of applicants every year can be used as a basis for
                    selection for universities as well. After all, you wouldn’t want to waste your
                    money on application fee for universities that will most likely reject you.<br>
                    The
                    more effective way to select a university would be to look at the research work
                    conducted by the faculty members and see if it matches your interest. This goes
                    for the people interested in Doctoral studies and research work. While this
                    seems like an arduous and lengthy process, it ultimately pays off in the long
                    run. While it is not mandatory, but establishing a relationship with a
                    professor early on increases the probability of admission in the university. It
                    all depends on whether, you have been able to gain attention of the professor
                    and if he is willing to provide funding or not. See for more details in the
                    section ‘Contacting a Faculty’.<br>

                    Another dilemma faced by students is to decide on the number of universities to apply
                    to. Since there is significant amount of application fee associated, the number
                    of application should be optimized based on chance of getting admission and
                    budget for applying.<br>

                    Another rule of thumb is to select three categories of universities: universities with
                    high, medium and low ranking. Common sense has to be applied for making this
                    selection so that the probability of getting accepted is higher.<br>

                    Sometimes people base the selection of universities based on location, weather and living
                    cost etc. This might be particularly useful for students who aim to apply for
                    Masters and graduate studies without funding. The following and other websites
                    can be used to determine the living cost in a certain area:
                    <a href="http://www.greatvaluecolleges.net/50-great-affordable-college-towns-in-the-u-s/">
                        50-great-affordable-college-towns-in-the-u-s
                    </a> <br>
                    Any or all of the criteria can be used to figure out which universities to apply
                    to. After making the primary selection, more information can be obtained from
                    the official website of the universities in list.<br><br>

                    <h3>Application Process: </h3>
                    Each university has their own deadline and process of application, but most of the application
                    process are similar. Most of application processes are online making it easier for access.
                    Generally the application process require uploading softcopy
                    of statement of purpose, personal information, certification etc.; sending scores of GRE, TOEFL;
                    providing hard copy or online submission of recommendation letter, sending hardcopy of attested
                    copies of transcript etc. There are fees associated with the application, sending scores of the
                    tests etc. It is also important to take into factor the time required for attesting certificates
                    and transcripts and getting recommendation letter. It often requires quite a long time to get
                    recommendation letter from faculty member and other people. If the time factor is not accounted
                    for, it might be difficult to meet the deadline of application.<br><br>

                    <h3>Contacting a Faculty:</h3>
                    When somebody asks me whether he or she should contact a professor, I say ‘why not? There’s no harm
                    in reaching out.’ In fact, if a meaningful relationship can be established with a faculty member,
                    there is greater chance of getting admission and funding. In fact many graduate students have got
                    admission based on personal contact with the professor. There is no alternative of applying through
                    the traditional application process though. No matter how strong a professor vouches for a student;
                    no admission committee will admit a student without a strong application, good score and impressive
                    SOP.<br>
                    Students can apply without contacting a professor and still get admission as most of the graduate
                    students do. However, if a student contacts a professor, the content should be meaningful. There are
                    tips available on how to establish good contact through emails
                    <a href="http://redbus2us.com/4-tips-to-email-professors-for-graduate-school-admission-in-usa/"
                       target="_blank">
                        4 Tips to email Professors for Graduate School Admission in USA?
                    </a> &nbsp;
                    <a href="https://www.quora.com/How-does-contacting-a-professor-before-applying-factor-into-graduate-admissions"
                       target="_blank">
                        How does contacting a professor before applying factor into graduate admissions?
                    </a>
                    <br>
                    You may want to contact a faculty member before or after admission to talk about potential funding
                    source and/or research. For students with no funding, this could be an opportunity to talk about
                    getting teaching assistantship etc. We encourage students to contact with the Graduate Advisor
                    faculty in the department of the university. The graduate advisor can help answer many questions
                    including admission, funding and even personal queries regarding living abroad etc.<br>

                    Overall, contacting a faculty is always positive. The worse that could happen is that the professor
                    will not respond. But you don’t want to miss a chance of getting a potential good supervisor or
                    someone who can help you in your admission and funding.<br>

                    How important it is to contact a professor? Here you can find an interesting article:
                    <a href="http://gradschool.about.com/od/overviewtimetable/a/Should-You-Email-Professors-At-Potential-Graduate-Programs.htm"
                       target="_blank">
                        Should You Email Professors at Potential Grad Schools?
                    </a>

                    </p>
                </div>
            </div><!--/end row-->
        </div>
    </div>
{% endblock %}