{% load staticfiles %}
<div class="container content-sm">
    <!-- Portfolio Box link https://htmlstream.com/preview/unify-v1.9.6/page_home10.html-->
    <ul class="list-unstyled row portfolio-box">

        <li class="col-sm-3 md-margin-bottom-50">
            <a class="thumbnail fancybox" href="{% url 'decision_making' %}">
                <img class="full-width img-responsive"
                     src="{% static 'home/decision_making.png' %}" alt="higher study decision making">
                <span class="portfolio-box-in rounded-x">
                    <i class="icon-link"></i>
                </span>
            </a>

            <div class="headline-left margin-bottom-10">
                <h3 class="headline-brd">Decision making</h3>
            </div>
            <p>
                <a href="{% url 'decision_making' %}">
                    Am I ready to apply? What do I need to decide?
                </a>
            </p>
        </li>

        <li class="col-sm-3 md-margin-bottom-50">
            <a class="thumbnail fancybox" href="{% url 'preparation' %}">
                <img class="full-width img-responsive"
                     src="{% static 'home/preparation.png' %}" alt="higher study preparation">
                <span class="portfolio-box-in rounded-x">
                    <i class="icon-link"></i>
                </span>
            </a>

            <div class="headline-left margin-bottom-10">
                <h3 class="headline-brd">Preparation</h3>
            </div>
            <p>
                <a href="{% url 'preparation' %}">
                    What tools do I need at my hand before applying?
                </a>
            </p>
        </li>

        <li class="col-sm-3 md-margin-bottom-50">
            <a class="thumbnail fancybox" href="{% url 'standard_exam' %}">
                <img class="full-width img-responsive"
                     src="{% static 'home/standard_exam.png' %}" alt="GRE TOEFL IELTS EXAM">
                <span class="portfolio-box-in rounded-x">
                    <i class="icon-link"></i>
                </span>
            </a>

            <div class="headline-left margin-bottom-10">
                <h3 class="headline-brd">Standard Exam</h3>
            </div>
            <p>
                <a href="{% url 'standard_exam' %}">
                    Help preparing for GRE, IELTS and TOEFL.
                </a>
            </p>
        </li>

        <li class="col-sm-3 md-margin-bottom-50">
            <a class="thumbnail fancybox" href="{% url 'sop_review' %}">
                <img class="full-width img-responsive"
                     src="{% static 'home/document_review.png' %}" alt="SOP Review">
                <span class="portfolio-box-in rounded-x">
                    <i class="icon-link"></i>
                </span>
            </a>

            <div class="headline-left margin-bottom-10">
                <h3 class="headline-brd">Review Your SOP</h3>
            </div>
            <p>
                <a href="{% url 'sop_review' %}">
                    Making an impression on the admission review committee.
                </a>
            </p>
        </li>

    </ul>

    <ul class="list-unstyled row portfolio-box">
        <li class="col-sm-3 md-margin-bottom-50">
            <a class="thumbnail fancybox" href="{% url 'application' %}">
                <img class="full-width img-responsive"
                     src="{% static 'home/application.png' %}" alt="Higher Study Application">
                <span class="portfolio-box-in rounded-x">
                    <i class="icon-link"></i>
                </span>
            </a>

            <div class="headline-left margin-bottom-10">
                <h3 class="headline-brd">Application</h3>
            </div>
            <p>
                <a href="{% url 'application' %}">
                    How to apply? What documents are needed? Whom should I email?
                </a>
            </p>
        </li>

        <li class="col-sm-3 md-margin-bottom-50">
            <a class="thumbnail fancybox" href="{% url 'under_construction_page' %}">
                <img class="full-width img-responsive"
                     src="{% static 'home/going_abroad.png' %}" alt="Going abroad">
                <span class="portfolio-box-in rounded-x">
                    <i class="icon-link"></i>
                </span>
            </a>

            <div class="headline-left margin-bottom-10">
                <h3 class="headline-brd">Going abroad</h3>
            </div>
            <p>
                <a href="{% url 'under_construction_page' %}">
                    I have got the admission letter- now what?
                </a>
            </p>
        </li>

        <li class="col-sm-3 md-margin-bottom-50">
            <a class="thumbnail fancybox" href="{% url 'under_construction_page' %}">
                <img class="full-width img-responsive"
                     src="{% static 'home/todo_list.png' %}" alt="First thing to do after coming abroad">
                <span class="portfolio-box-in rounded-x">
                    <i class="icon-link"></i>
                </span>
            </a>

            <div class="headline-left margin-bottom-10">
                <h3 class="headline-brd">What’s the first thing to do after coming abroad</h3>
            </div>
            <p>
                <a href="{% url 'under_construction_page' %}">
                    How to survive in the unknown country and culture?
                </a>
            </p>
        </li>

        <li class="col-sm-3 md-margin-bottom-50">
            <a class="thumbnail fancybox" href="{% url 'skype' %}">
                <img class="full-width img-responsive"
                     src="{% static 'home/online_session.png' %}" alt="online live session">
                <span class="portfolio-box-in rounded-x">
                    <i class="icon-link"></i>
                </span>
            </a>

            <div class="headline-left margin-bottom-10">
                <h3 class="headline-brd">Join our Skype Q&A session</h3>
            </div>
            <p>
                <a href="{% url 'skype' %}">
                    I have questions and could not find the answer.Who can help me with that?
                    Join our Skype Q&A session.
                </a>
            </p>
        </li>
    </ul>
</div>
<!-- End Portfolio Box -->