{% extends 'common/base.html' %}

<!--/container -->
{% load staticfiles %}
{% block content %}

    <div class="breadcrumbs breadcrumbs-dark">
        <div class="container">
            <h1 class="pull-left">
                MEET <span class="text-border">{{ user.get_full_name|upper }}</span>
            </h1>
        </div>
    </div>

    <div class="container content-sm">
        <div class="row ">

            <div class="col-md-5 ">
                <img class="img-responsive" src="{{ MEDIA_URL }}{{ user.usermeta.thumbnail }}" alt="">
            </div>

            <div class="col-md-7">
                <h2>{{ user.get_full_name }}</h2>
                <p class="margin-bottom-20">
                    {{ user.usermeta.long_bio|safe|default:user.usermeta.short_bio|safe }}
                </p>

                <!-- social icons-->
                <ul class="list-inline ">
                    {% if user.usermeta.facebook_link %}
                        <li><a href="{{ user.usermeta.facebook_link }}" target="_blank">
                            <i class="rounded-x fa fa-facebook"></i></a>
                        </li>
                    {% endif %}
                    {% if  user.usermeta.twitter_link %}
                        <li><a href="{{ user.usermeta.twitter_link }}" target="_blank">
                            <i class="rounded-x fa fa-twitter"></i></a>
                        </li>
                    {% endif %}
                    {% if  user.usermeta.linkedin_link %}
                        <li><a href="{{ user.usermeta.linkedin_link }}" target="_blank">
                            <i class="rounded-x fa fa-linkedin"></i></a>
                        </li>
                    {% endif %}
                </ul>
                <!-- end social icons-->

            </div>
        </div><!--/end row-->
    </div>
{% endblock %}