<div class="call-action-v1 bg-color-light">
    <div class="container">
        <div class="call-action-v1-box">
            <div class="call-action-v1-in">
                <h3>Have question to ask? Join our Facebook group
                    <strong class="color-darker">
                        <a href="https://www.facebook.com/groups/mystudynotebook/" target="_blank">
                            My Study Notebook
                        </a>
                    </strong>
                </h3>

                <p>
                    Our experts will answer your question. Selected question and answer will be added to our FAQ
                    database for future reference and easy searching. Thus we help you and you help the
                    community!
                </p>
            </div>

            <div class="call-action-v1-in inner-btn">
                <a href="https://www.facebook.com/groups/mystudynotebook/" target="_blank"
                   class="btn-u btn-u-lg btn-brd btn-brd-width-2 btn-brd-hover btn-u-dark btn-u-block">
                    Join Our Facebook Group
                </a>
            </div>
        </div>
    </div>
</div>