{% extends "common/base.html" %}
{% block title %}Search for Frequently Asked Question about study, education, higher study, MS, PhD{% endblock %}
{% block meta %}
    <meta name="description"
          content="Frequently Asked Question for higher education/Study, MS, PhD in USA, Canada, Australia">
    <meta name="keywords"
          content="GRE, online, test, VISA, University, selection, SOP, Preparation">
{% endblock %}
{% load staticfiles %}
{% block content %}
    {% include "faq/callout.html" %}
    {% include "faq/search_block.html" %}
    {% include "faq/categories_tab.html" %}
    {% include "faq/faq_content.html" %}
{% endblock %}