{% extends "common/base.html" %}
{% load static %}
{% block content %}
    <div class="container content-sm">
    <div class="call-action-v1 call-action-v1-boxed tag-box-v4 margin-bottom-40">
				<div class="call-action-v1-box">
					<div class="call-action-v1-in">
						<h3><em>We are working on this page. Please visit this page sometime later.
						<p><em>
                            You can contact us using our contact us form
                            <strong class="color-darker"><a href="{% url 'contactus' %}">contact us</a> </strong>
                            or mail us at
                            <strong class="color-darker">support@mystudynotebook.com</strong>
                        </em></p>
					</div>
				</div>
			</div>
    </div>
{% endblock %}