{% extends "common/base.html" %}
{% load staticfiles %}
{% block content %}
    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row blog-page">
            <!-- Left Side -->
            <div class="col-md-9 md-margin-bottom-40">
                {% for blog in blogs %}
                    <!--Blog Post-->
                    <div class="row blog blog-medium margin-bottom-40">
                        <div class="col-md-5">
                            {% if blog.video_url %}
                                <!-- 4:3 aspect ratio -->
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe class="embed-responsive-item" webkitAllowFullScreen mozallowfullscreen
                                            allowFullScreen
                                            src="{{ blog.video_url }}">
                                    </iframe>
                                </div>
                            {% else %}
                                <img class="img-responsive" src="{{ MEDIA_URL }}{{ blog.thumbnail }}" alt="">
                            {% endif %}
                        </div>
                        <div class="col-md-7">
                            <h2><a href="{% url 'blog_single' blog.id %}">{{ blog.title }}</a></h2>
                            {% include 'blog/blog_icon_links.html' %}
                            <p> {{ blog.text|safe|truncatewords_html:80 }}</p>

                            <p><a class="btn-u btn-u-sm" href="{% url 'blog_single' blog.id %}">Read More
                                <i class="fa fa-angle-double-right margin-left-5"></i></a>
                            </p>
                        </div>
                    </div>
                    <!--End Blog Post-->

                    <hr class="margin-bottom-40">
                    <!-- end Left Side -->
                {% endfor %}
            </div>
            <!-- Right Sidebar -->
            <div class="col-md-3">
                {% include 'blog/blog_sidebar.html' %}
            </div>
        </div>
    </div>
{% endblock %}