{% extends "common/base.html" %}
{% load staticfiles %}
{% block head-content %}
    <!-- for customizing facebook sharing
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url" content="{% url 'blog_single' blog.id %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ blog.title }}"/>
    <meta property="og:description" content="{{ blog.text|truncatewords:80 }}"/>
    <meta property="og:image" content="{{ MEDIA_URL }}{{ blog.thumbnail }}"/>
{% endblock %}

{% block content %}
    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row blog-page">
            <!-- Left Side -->
            <div class="col-md-9 md-margin-bottom-40">
                <div class="blog margin-bottom-40">
                    <h2>{{ blog.title }}</h2>

                    <div class="blog-post-tags">
                        {% include 'blog/blog_icon_links.html' %}
                    </div>
                    <div class="blog-img">
                        <img class="img-responsive" src="{{ MEDIA_URL }}{{ blog.featured_img }}" alt="">
                    </div>
                    <p>{{ blog.text|safe }}</p>
                    <hr>
                </div>
                <!-- facebook comment API -->
                {% include 'common/fb_comment.html' %}
            </div>
            <!-- Right Sidebar -->
            <div class="col-md-3">
                {% include 'blog/blog_sidebar.html' %}
            </div>
        </div>
    </div>
{% endblock %}