{% extends "common/base.html" %}
{% load staticfiles %}
{% block content %}
    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row blog-page">
            <!-- Left Side -->
            <div class="col-md-9 md-margin-bottom-40">
            <div class="blog margin-bottom-40">
						<h2>{{ blog.title }}</h2>
            <div class="blog-post-tags">
                          <ul class="list-unstyled list-inline blog-info">
                                <li><i class="fa fa-pencil"></i> <a href="#">
                                    {{ blog.author.get_full_name }}
                                </a></li>
                                <li><i class="fa fa-calendar"></i> {{ blog.date_created }}</li>
                                <li><i class="fa fa-cube"></i>
                                    {% for cat in blog.category.all %}
                                        <a href="{% url 'blog_search_cat' cat.id %}"> {{ cat.name }},&nbsp;</a>
                                    {% endfor %}
                                </li>
                                <li><i class="fa fa-tags"></i>
                                    {% for tag in blog.tag.all %}
                                        <a href="{% url 'blog_search_tag' tag.id %}"> {{ tag.name }},&nbsp;</a>
                                    {% endfor %}
                                </li>
                             <li><i class="fa fa-book"></i> <a href="{% url 'blog_search_author' blog.author.id %}">
                                    More from this author
                                </a></li>
                            </ul>
            </div>
						<div class="blog-img">
							<img class="img-responsive" src="{{ MEDIA_URL }}{{ blog.featured_img }}" alt="">
						</div>
            <p>{{ blog.text }}</p>
					</div>

            </div>
            <!-- Right Sidebar -->
            <div class="col-md-3">
            {% include 'blog/blog_sidebar.html' %}
            </div>
        </div>
    </div>
{% endblock %}