{% extends "common/base.html" %}
{% load staticfiles %}
{% block content %}
    {% include "download_center/topblock.html" %}
    <div class="container content-sm ">
        <div class="row">
            <!-- sidebar-->
            <div class="col-md-2 bg-color-light">
 {% include "download_center/sidebar.html" %}
                </div>

            <!-- main content-->
            <div class="col-md-10 ">
             {% include "download_center/main_content.html" %}
            </div>
        </div>
    </div>
    <!-- End Tab v2 -->
{% endblock %}