{% extends "common/base.html" %}
{% load staticfiles %}
{% block content %}
    {% include "download_center/topblock.html" %}
    <div class="container content-sm ">
        <div class="row">
            <!-- sidebar-->
            <div class="col-md-2 border-right">
                <h3>Filter Department</h3>
                <ul class="list-unstyled">
                    {% for dept in departments %}
                        <li>{{ dept.name }}</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- main content-->
            <div class="col-md-10 ">
                <div class="tab-v2">
                    <ul class="nav nav-tabs">
                        {% for type in types %}
                            <li class="{% if forloop.first %}active {% endif %}">
                                <!-- watch out the href content. It must point to target id-->
                                <a href="#{{ type.name }}" data-toggle="tab">{{ type.name|upper }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                    <!-- tab content for every type-->
                        {% for type in types %}
                            <div class="tab-pane fade in {% if forloop.first %}active{% endif %}" id="{{ type.name }}">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Intended Department</th>
                                            <th>Intended Degree</th>
                                            <th>Comment</th>
                                            <th>Download Link</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for doc in type.document_set.all %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <th>{{ doc.department }}</th>
                                                <th>{{ doc.degree }}</th>
                                                <th>{{ doc.comment }}</th>
                                                <th><a href="{{ doc.download_link }}" target="_blank">Download</a>
                                                </th>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Tab v2 -->
{% endblock %}