{% extends "common/base.html" %}
{% block title %}Practice test for GRE, TOEFL, SAT{% endblock %}
{% block meta %}
    <meta name="description"
          content="Online free practice test model test for GRE, TOEFL, SAT">
    <meta name="keywords"
          content="GRE, TOEFL, SAT, Online test, model test, practice test, higher study">
{% endblock %}
{% load staticfiles %}
{% block content %}
    
    <div class="bg-color-light">
        <div class="container content-sm">
            <h1> GRE Home Page</h1>

            <h1>Subject wise Test</h1>

            <h1> Complete Model Test</h1>
        </div>
    </div>
{% endblock %}